.game-kupsis {
  max-width: 6rem;
  position: absolute;
  &-1 {
   top: 0;
   left: -3rem;
  }
  &-2 {
   bottom: 5rem;
   left: -10rem;
   max-width: 10rem;
  }
  &-3 {
    top: 6rem;
    right: -5rem;
    transform:  rotate(-90deg);
 }
 &-4 {
    bottom: -10rem;
    right: 0;
 }
 &-5 {
    left: -8rem;
 }
 &-6 {
    bottom: -7rem;
 }
 &-7 {
    right: -9rem;
    bottom: 0;
    fill: orange;
    max-width: 7rem;
 }
}

.cookie {
  max-width: 15rem;
}