
.kappa-jalg-1 {
  animation-delay: 0.2s;
  bottom: -6rem;
  left: 15rem;
  transform: rotate(179deg);
 }
.kappa-jalg-2 {
  animation-delay: 0.4s;
  bottom: -6rem;
  left: 8rem;
  transform: rotate(202deg);
}

 .kappa-jalg-3 {
  animation-delay: 0.5s;
  bottom: -12rem;
  left: 5rem;
  transform: rotate(227deg);
}

.kappa-jalg-4 {
 animation-delay: .8s;
 bottom: -7rem;
 left: 1rem;
 transform: rotate(235deg);
}

.kappa-jalg-5 {
  animation-delay: 1s;
  bottom: -11rem;
  left: -5rem;
  transform: rotate(254deg);
}
.kappa-jalg-6 {
  animation-delay: 1.2s;
  bottom: -4.2rem;
  left: -4rem;
  transform: rotate(270deg);
}
.kappa-jalg-7 {
  animation-delay: 1.4s;
  bottom: -5rem;
  left: -10rem;
  transform: rotate(293deg);
}
.kappa-jalg-8 {
  animation-delay: 1.6s;
  bottom: 2rem;
  left: -6rem;
  transform: rotate(321deg);
}
.kappa-jalg-9 {
  animation-delay:1.8s;
  bottom: 3rem;
  left: -12rem;
  transform: rotate(330deg);
}
.kappa-jalg-10 {
  animation-delay:2s;
  bottom: 8rem;
  left: -4.4rem;
  transform: rotate(360deg);
}  
.kappa-jalg-11 {
  animation-delay:2.2s;
  bottom: 9rem;
  left: -10rem;
  transform: rotate(363deg);
}  
.kappa-jalg-12 {
  animation-delay:2.4s;
  bottom: 14rem;
  left: -5rem;
  transform: rotate(377deg);
}   