/* player nimi */


/* current score */
.player__current-score span,
.player__total-score {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;

}

 
.game__player-box h2 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 4rem;
  // transform: translate(-50%,-50%) rotate(-90deg);
  
  


}

#user-two  h2 {
  text-align: right;
}