/* player nimi */


/* current score */
.player__current-score span,
.player__total-score {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;

}

 
.game__player-box h2 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 4rem;
  // transform: translate(-50%,-50%) rotate(-90deg);
  
  


}

#user-two  h2 {
  text-align: right;
}


.register-player__inbut-box-title {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: 300;
  font-size: 3rem;
  line-height: 35px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 1.7rem;
}


.input-regular {
  font-family: 'Roboto', sans-serif;
  
  position: absolute;
  width: 34.5rem;
  height: 4.4rem;
  background: #FFFFFF;
  opacity: 0.5;
  border: 1px solid #050000;
  box-sizing: border-box;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.6rem;
  padding-left: 1.3rem;
  font-weight: 400;

}
